{
	"extends": [
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true,
		"mocha": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {}
}
